In [2]:
nama = 'MOCH.TAUFIK FATURAHMAN'
usia = 21 
asal_sekolah = 'SMK NEGERI 1 KOTA SUKABUMI'
sudah_menikah = False
hobby = 'futsal'


print("nama          :",nama)
print("usia          :",usia)
print("sudah_menikah :",sudah_menikah)
print("hobby         :",hobby)
print ("asal sekolah  :",asal_sekolah)


print ("="*8,"TERIMA KASIH","="*8)

nama          : MOCH.TAUFIK FATURAHMAN
usia          : 21
sudah_menikah : False
hobby         : futsal
asal sekolah  : SMK NEGERI 1 KOTA SUKABUMI
======== TERIMA KASIH ========

In [18]:
a,b,c=1,2,'MANTAP'

print ('a=',a)
print ('b=',b)
print ('c=',c)

a= 1
b= 2
c= MANTAP

In [22]:
d = e = f = 10
print ('d:',d)
print ('e:',e)
print ('f:',f)

d: 10
e: 10
f: 10

In [26]:
kota = 'sukabumi'
luas = 600

print (type(kota))
print (type(luas))

<class 'str'>
<class 'int'>

In [31]:
lebar = 5
panjang = 10.5
luas = lebar*panjang

print(panjang,'*',lebar,'=',luas)
print ('type data lebar',type(lebar))
print ('type data panjang',type(panjang))
print ('type data luas',type(luas))

10.5 * 5 = 52.5
type data lebar <class 'int'>
type data panjang <class 'float'>
type data luas <class 'float'>

In [32]:
a=5j
b=10j
c=a+b
print (a,'+',b,'=',c)

print('type data a',type(a))
print('type data b',type(b))
print('type data c',type(c))

5j + 10j = 15j
type data a <class 'complex'>
type data b <class 'complex'>
type data c <class 'complex'>

In [33]:
print ('luas segitiga')

alas = 10
tinggi = 5
luas = alas*tinggi/2

print ('luas segitiga adalah %0.2f'%luas)

luas segitiga
luas segitiga adalah 25.00

In [42]:
tahun_lahir = 2001
tahun_ini =2022
umur =tahun_ini - tahun_lahir


print(tahun_ini,'-',tahun_lahir,'=',umur)

2022 - 2001 = 21

In [11]:
nama_depan = 'MOCH_TAUFIK'
nama_belakang= 'faturahman'
nama_lengkap = nama_depan+''+nama_belakang
usia ='18'
alamat = 'koleberes'
kata_kata_mutiara='berfikir logis untuk tidak egois'

print(nama_lengkap,'('+usia+')',',','dari',alamat,',kata_kata_mutiara:',kata_kata_mutiara)
print('tipe data dari nama depan',type(nama_depan))

MOCH_TAUFIKfaturahman (18) , dari koleberes ,kata_kata_mutiara: berfikir logis untuk tidak egois
tipe data dari nama depan <class 'str'>

In [24]:
print('ara'*3)
print ('ara'+'ara')

araaraara
araara

In [26]:
print('ara')
print('ara')
print('ara')

ara
ara
ara

In [32]:

print('''sayang
sayang
sayang''')

sayang
sayang
sayang

In [29]:
print ("="*8,"CUKUP SAMPAI DISINI SEKIAN DAN TERIMA KASIH","="*8)

======== CUKUP SAMPAI DISINI SEKIAN DAN TERIMA KASIH ========

In [35]:
saya_orang_indonesia= True
saya_adalah_orangutan = False

print('apakah saya orang indonesia?',saya_orang_indonesia)
print('apakah saya orangutan?',saya_adalah_orangutan)
print('tipe data orang indonesia',type(saya_orang_indonesia))

apakah saya orang indonesia? True
apakah saya orangutan? False
tipe data orang indonesia <class 'bool'>

In [38]:
a=True
b=False

print ('12 < 10=',12<10)
print ('10 > 12=',10>12)
print ("A = a :",'A'=='a')

12 < 10= False
10 > 12= False
A = a : False