In [9]:
a,b =10,3
print(a,'+',b,'=',a+b) #operator pertambahan
print(a-b)   #operator pengurangan
print (a*b)  #operator perkalian
print (a/b)  #operator divisi
print (a%b)  #operator modulus
print (a**b) #operator eksponen
print (a//b) #operator flor division

10 + 3 = 13
7
30
3.3333333333333335
1
1000
3

In [14]:
a=10
print ('a = 10 ->',a)

a += 5
print('a + = 5 ->',a)

a = 10 -> 10
a + = 5 -> 15

In [17]:
print (5*2**2+10/20)

20.5

In [23]:
a,b = 5,10
 
    
print(a,'>',b,'=',a>b)    
print (a<b)
print (a==b)
print (a!=b)
print(a>=b)
print (a<=b)

5 > 10 = False
True
False
True
False
True

In [40]:

nilai_1=True
nilai_2=False
nilai_3=True

print ("nilai_1 and nilai_2="+str(nilai_1 and nilai_2))
print ("nilai_1 and nilai_3="+str(nilai_1 and nilai_3))
print ("nilai_2 and nilai_3="+str(nilai_2 and nilai_3))

nilai_1 and nilai_2=False
nilai_1 and nilai_3=True
nilai_2 and nilai_3=False

In [31]:
print (400<100)
print (10*2==20)
print (50>10)
print (50*2!=100)
print (2*3*4>=24)

False
True
True
False
True

In [45]:
murah=True
diskon=True
t_murah=False
t_diskon=False

print ("murah and diskon="+str(murah and diskon))
print ("diskon and murah="+str(diskon and murah))
print ("t_murah and t_diskon="+str(t_murah and t_dison))
print ("t_diskon and t_murah="+str(t_diskon and t_murah))

murah and diskon=True
diskon and murah=True
t_murah and t_diskon=False
t_diskon and t_murah=False

In [53]:
a=5
b=5
list_a = [1, 2, 3]
list_b = [1, 2, 3]
nama_a = 'Budi'
nama_b = 'Budi'


print('a is b:',a is b)
print('a is not b:',list_a is list_b)

print('list_a is list_b:',list_a is list_b)
print('list_a == list_b:',list_a == list_b)

a is b: True
a is not b: False
list_a is list_b: False
list_a == list_b: True

In [54]:
x ='microsoft'
list_pulau = ['jawa','sumatra','sulawesi']

print (
"apakah 'c' ada variabel perusahaan","c" in x
)

apakah 'c' ada variabel perusahaan True

In [57]:
nama = 'udin'
kelas = ['TI221A','TI22B', 'TI22C']

print ('TI221A' in kelas)

True

In [62]:
print (format(0,'08b'))
print (format(1,'08b'))
print (format(2,'08b'))
print (format(37,'08b'))

00000000
00000001
00000010
00100101

In [68]:
h=104
e=101
l=108
o=111


print ('h binernya adalah',format(104,'08b'))
print ('e binernya adalah',format(101,'08b'))
print ('l binernya adalah',format(108,'08b'))
print ('l binernya adalah',format(108,'08b'))
print ('o binernya adalah',format(111,'08b'))

h binernya adalah 01101000
e binernya adalah 01100101
l binernya adalah 01101100
l binernya adalah 01101100
o binernya adalah 01101111